<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yourcompany.savestory">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name="com.yourcompany.savestory.utils.Application"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.yourcompany.savestory.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yourcompany.savestory.activity.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yourcompany.savestory.activity.GWAActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yourcompany.savestory.activity.BWAActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name="com.yourcompany.savestory.activity.ImageViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yourcompany.savestory.activity.VIdeoViewerActivity"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yourcompany.savestory.activity.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />


    </application>

</manifest>